.img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 238px;
    height: 341px;
}

.user1 {
    background-image: url('../img/photo1.png');
}

.user2 {
    background-image: url('../img/photo2.png');
}

.user3 {
    background-image: url('../img/photo3.png');
}

.user4 {
    background-image: url('../img/photo4.png');
}

.user5 {
    background-image: url('../img/photo5.png');
}

.user6 {
    background-image: url('../img/photo6.png');
}

@media (max-width: 800px){
    .img {
        background-repeat: no-repeat;
        background-size: contain;
        width: 165px;
        height: 235px;
    }
}

@media (max-width: 500px){
    .img {
        background-repeat: no-repeat;
        background-size: contain;
        width: 130px;
        height: 190px;
    }
}

